<style type="text/css">
.header {
	width:250px;
	height:250px;
}

.header a {
     display: block; 
    background-image: url("https://static.dicionariodesimbolos.com.br/upload/f1/b6/simbolo-da-adidas-2_xl.png");
    background-repeat: no-repeat;
    height:250px;
    width:250px; 
    color: #eaeaea;
}

.header a:hover {
    display: block;
    background-image: url("https://www.obaoba.com.br/contentFiles/system/pictures/2005/5/2230/original/t_adidas.jpg");
    background-repeat: no-repeat;
    height:250px; 
    width:250px;
}
</style>

</head>